$text: #f1f0f0;
$text-tints-0: #f1f0f0;
$text-tints-10: #f2f1f1;
$text-tints-20: #f3f3f3;
$text-tints-30: #f5f4f4;
$text-tints-40: #f6f6f6;
$text-tints-50: #f8f7f7;
$text-tints-60: #f9f9f9;
$text-tints-70: #fafafa;
$text-tints-80: #fcfcfc;
$text-tints-90: #fdfdfd;
$text-shades-0: #f1f0f0;
$text-shades-10: #d8d8d8;
$text-shades-20: #c0c0c0;
$text-shades-30: #a8a8a8;
$text-shades-40: #909090;
$text-shades-50: #787878;
$text-shades-60: #606060;
$text-shades-70: #484848;
$text-shades-80: #302f2f;
$text-shades-90: #181717;

$background: #0e0e0e;
$background-tints-0: #0e0e0e;
$background-tints-10: #262626;
$background-tints-20: #3e3e3e;
$background-tints-30: #565656;
$background-tints-40: #6e6e6e;
$background-tints-50: #868686;
$background-tints-60: #9e9e9e;
$background-tints-70: #b6b6b6;
$background-tints-80: #cecece;
$background-tints-90: #e6e6e6;
$background-shades-0: #0e0e0e;
$background-shades-10: #0c0c0c;
$background-shades-20: #0b0b0b;
$background-shades-30: #090909;
$background-shades-40: #080808;
$background-shades-50: #070707;
$background-shades-60: #050505;
$background-shades-70: #040404;
$background-shades-80: #020202;
$background-shades-90: #010101;


$primary: #6400cc;
$primary-tints-0: #6400cc;
$primary-tints-10: #7319d1;
$primary-tints-20: #8333d6;
$primary-tints-30: #924cdb;
$primary-tints-40: #a266e0;
$primary-tints-50: #b17fe5;
$primary-tints-60: #c199ea;
$primary-tints-70: #d0b2ef;
$primary-tints-80: #e0ccf4;
$primary-tints-90: #efe5f9;
$primary-shades-0: #6400cc;
$primary-shades-10: #5a00b7;
$primary-shades-20: #5000a3;
$primary-shades-30: #46008e;
$primary-shades-40: #3c007a;
$primary-shades-50: #320066;
$primary-shades-60: #280051;
$primary-shades-70: #1e003d;
$primary-shades-80: #130028;
$primary-shades-90: #090014;

$secondary: #68cc00;
$secondary-tints-0: #68cc00;
$secondary-tints-10: #77d119;
$secondary-tints-20: #86d633;
$secondary-tints-30: #95db4c;
$secondary-tints-40: #a4e066;
$secondary-tints-50: #b3e57f;
$secondary-tints-60: #c2ea99;
$secondary-tints-70: #d1efb2;
$secondary-tints-80: #e0f4cc;
$secondary-tints-90: #eff9e5;
$secondary-shades-0: #68cc00;
$secondary-shades-10: #5db700;
$secondary-shades-20: #53a300;
$secondary-shades-30: #488e00;
$secondary-shades-40: #3e7a00;
$secondary-shades-50: #346600;
$secondary-shades-60: #295100;
$secondary-shades-70: #1f3d00;
$secondary-shades-80: #142800;
$secondary-shades-90: #0a1400;

$tertiary: #33fffd;
$tertiary-lighten-0: #33fffd;
$tertiary-lighten-10: #66fffd;
$tertiary-lighten-20: #99fffe;
$tertiary-lighten-30: #ccfffe;
$tertiary-lighten-40: #fff;
$tertiary-lighten-50: #fff;
$tertiary-lighten-60: #fff;
$tertiary-lighten-70: #fff;
$tertiary-lighten-80: #fff;
$tertiary-lighten-90: #fff;
$tertiary-darken-0: #33fffd;
$tertiary-darken-10: #00fffc;
$tertiary-darken-20: #00ccca;
$tertiary-darken-30: #009997;
$tertiary-darken-40: #006665;
$tertiary-darken-50: #003332;
$tertiary-darken-60: #000;
$tertiary-darken-70: #000;
$tertiary-darken-80: #000;
$tertiary-darken-90: #000;

$quaternary: #cc0002;
$quaternary-tints-0: #cc0002;
$quaternary-tints-10: #d1191b;
$quaternary-tints-20: #d63334;
$quaternary-tints-30: #db4c4d;
$quaternary-tints-40: #e06667;
$quaternary-tints-50: #e57f80;
$quaternary-tints-60: #ea9999;
$quaternary-tints-70: #efb2b3;
$quaternary-tints-80: #f4cccc;
$quaternary-tints-90: #f9e5e5;
$quaternary-shades-0: #cc0002;
$quaternary-shades-10: #b70001;
$quaternary-shades-20: #a30001;
$quaternary-shades-30: #8e0001;
$quaternary-shades-40: #7a0001;
$quaternary-shades-50: #660001;
$quaternary-shades-60: #510000;
$quaternary-shades-70: #3d0000;
$quaternary-shades-80: #280000;
$quaternary-shades-90: #140000;

$error-color: #f66;
$error-tints-0: #f66;
$error-tints-10: #ff7575;
$error-tints-20: #ff8484;
$error-tints-30: #ff9393;
$error-tints-40: #ffa3a3;
$error-tints-50: #ffb2b2;
$error-tints-60: #ffc1c1;
$error-tints-70: #ffd1d1;
$error-tints-80: #ffe0e0;
$error-tints-90: #ffefef;
$error-shades-0: #f66;
$error-shades-10: #e55b5b;
$error-shades-20: #cc5151;
$error-shades-30: #b24747;
$error-shades-40: #993d3d;
$error-shades-50: #7f3333;
$error-shades-60: #662828;
$error-shades-70: #4c1e1e;
$error-shades-80: #321414;
$error-shades-90: #190a0a;

$success: #c2ea99;
$success-tints-0: #c2ea99;
$success-tints-10: #c8eca3;
$success-tints-20: #ceeead;
$success-tints-30: #d4f0b7;
$success-tints-40: #daf2c1;
$success-tints-50: #e0f4cc;
$success-tints-60: #e6f6d6;
$success-tints-70: #ecf8e0;
$success-tints-80: #f2faea;
$success-tints-90: #f8fcf4;
$success-shades-0: #c2ea99;
$success-shades-10: #aed289;
$success-shades-20: #9bbb7a;
$success-shades-30: #87a36b;
$success-shades-40: #748c5b;
$success-shades-50: #61754c;
$success-shades-60: #4d5d3d;
$success-shades-70: #3a462d;
$success-shades-80: #262e1e;
$success-shades-90: #13170f;

$waring: #ffff93;
$waring-tints-0: #ffff93;
$waring-tints-10: #ffff9d;
$waring-tints-20: #ffffa8;
$waring-tints-30: #ffffb3;
$waring-tints-40: #ffffbe;
$waring-tints-50: #ffffc9;
$waring-tints-60: #ffffd3;
$waring-tints-70: #ffffde;
$waring-tints-80: #ffffe9;
$waring-tints-90: #fffff4;
$waring-shades-0: #ffff93;
$waring-shades-10: #e5e584;
$waring-shades-20: #cccc75;
$waring-shades-30: #b2b266;
$waring-shades-40: #999958;
$waring-shades-50: #7f7f49;
$waring-shades-60: #66663a;
$waring-shades-70: #4c4c2c;
$waring-shades-80: #32321d;
$waring-shades-90: #19190e;





